html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
    position: relative;
    min-height: 100%;
}

:root {
    --main-bg-color: #fffdf7;
    --black-color: #000;
    --dark-blue-color: #0e008a;
    --create-btn-color: #dde5b6;
    --save-btn-color: #ffe9928a;
    --delete-btn-color: #ff827bab;
}

body {
    font-family: "Montserrat", sans-serif;
    margin: 0;
    padding: 0;
    background-color: var(--main-bg-color);
}

a {
    text-decoration: none;
    color: var(--black-color);
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Lora", serif;
    font-weight: 500;
    letter-spacing: 1px;
    text-transform: uppercase;
}

/*start buttons*/
.btn {
    cursor: pointer;
    font-size: 16px;
    padding: 10px 55px;
    border-radius: 35px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    background-color: var(--main-bg-color);
}

.create-page-btn {
    border: 2px solid var(--dark-blue-color);
    position: relative;
    overflow: hidden;
}

.create-page-btn-active {
    background-color: var(--dark-blue-color);
    color: white;
}

.create-page-btn span {
    position: relative;
    z-index: 2;
}

.create-page-btn:after {
    content: "";
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background: var(--dark-blue-color);
    transition: all 0.35s;
}

.create-page-btn:hover {
    color: white;
}

    .create-page-btn:hover:after {
        left: 0;
    }

.create-btn {
    border: 2px solid var(--create-btn-color);
    transition: 0.35s ease;
}

    .create-btn:hover {
        background: var(--create-btn-color);
    }


.save-btn,
.edit-btn {
    border: 2px solid var(--save-btn-color);
    transition: 0.35s ease;
}

    .save-btn:hover,
    .edit-btn:hover {
        background: var(--save-btn-color);
    }

.delete-btn {
    border: 2px solid var(--delete-btn-color);
    transition: 0.35s ease;
}

    .delete-btn:hover {
        background: var(--delete-btn-color);
    }

.edit-btn,
.delete-btn {
    padding: 10px 15px;
}

.close-btn {
    float: right;
    cursor: pointer;
}
/*end buttons*/
/*start navbar*/
header {
    background-color: var(--main-bg-color);
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.nav {
    padding: 25px 75px;
}

.nav-items {
    display: flex;
    justify-content: space-between;
}

.navbar-items {
    display: flex;
    gap: 30px;
    margin: 0 !important;
    list-style-type: none;
}

.nav-link {
    position: relative;
    padding-bottom: 25px;
}


    .nav-link::before {
        content: '';
        position: absolute;
        width: 100%;
        height: 2px;
        background-color: var(--dark-blue-color);
        bottom: 0;
        left: 0;
        transform-origin: right;
        transform: scaleX(0);
        transition: transform .2s ease-in-out;
    }

    .nav-link:hover::before {
        transform-origin: left;
        transform: scaleX(1);
    }

.nav-link-active {
    text-decoration: underline;
    text-decoration-color: var(--dark-blue-color);
    text-underline-offset: 27px;
    text-decoration-thickness: 2px;
}

/*start favorite icon*/
.nav-link-favorite {
    text-decoration: none;
    transition: color .1s ease;
}

    .nav-link-favorite:hover .material-symbols-outlined {
        color: #ff0000;
    }
/*end favorite icon*/

/*end navbar*/

/*start content*/
.content-container {
    margin: 60px;
}

/*end content*/

/*start content main page*/
.content-container-main-page {
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
}


.bg-girl-img {
    height: 550px;
    width: auto;
    filter: saturate(90%);
    border-bottom: 4px solid var(--black-color);
}
/*end content main page*/
.input-item {
    margin: 0 auto;
    background-color: white;
    padding: 10px 15px;
    font-size: 16px;
    border-radius: 5px;
    width: 250px;
    border: 1px solid var(--dark-blue-color);
}

.input-items {
    margin-bottom: 15px;
    display: flex;
    gap: 30px;
}
/*start create form*/
.create-form-category, .edit-form-category {
    text-align: center;
    margin-top: 15px;
    padding: 0 50px 30px 50px;
    border: 2px solid var(--dark-blue-color);
    border-radius: 5px;
    width: 80%;
}



/*end create form*/

/*start table*/
.table {
    font-size: 16px;
    border-spacing: 0;
    min-width: 90%;
}

th, td {
    padding: 15px;
    max-width: 70%;
    width: 70%;
    border-collapse: collapse;
    text-align: left;
}

th {
    font-weight: bold;
    letter-spacing: 0.5px;
    color: #039;
    border-bottom: 2px solid var(--dark-blue-color);
    padding: 10px 8px;
}

td {
    border-bottom: 1px solid #ccc;
    color: #669;
    padding: 9px 8px;
    transition: .3s linear;
}

tr {
    cursor: pointer;
}

    tr:hover td {
        color: #6699ff;
    }

/*end table*/
.create-form-author {
    float: left;
    display: grid;
    grid-template-columns: 1fr; 
    grid-gap: 10px;
}

    .create-form-author input {
        margin-bottom: 15px;
    }
